<form action="/new" method="POST">
    <input type="text" placeholder="Author name" name="authorName">
    <input type="text" placeholder="Message" name="authorMessage">
    <button type="submit">
        Submit
    </button>
</form>